*{
  font-family: "Inter", serif;
}

.hero-section {
  
   padding: 20px 50px;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 54%), rgba(0, 0, 0, 54%)), 
              url("/images/shop.jpg");
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat; /* Ensures the image is not repeated */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: top; /* Aligns the image at the top */
  color: white;
}



.hero-main-content button{
  background-color: #c21313;
  width: 129px;
  height: 39px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
 
  font-family: "Inter", serif;
  cursor: pointer;
}